.figure {
  position: relative;
  height: 400px;
  overflow: hidden;
  padding-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.photo {
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
  z-index: -1;
  filter: brightness(50%);
}
